.playerOneTotal,
.playerTwoTotal {
  font-size: 40px;
}

#container {
  margin: 20px;
}

.currentScore {
  color: #d62828;
  font-size: 60px;
}

.jumbotron {
  text-align: center;
  background-color: #d628283a;
}

h4,
p {
  text-align: center;
}
